<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.BROADCAST_STICKY" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

  <application
    android:label="Random"
    android:name="${applicationName}"
    android:icon="@mipmap/launcher_icon"
  >
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:taskAffinity=""
      android:theme="@style/LaunchTheme"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:hardwareAccelerated="true"
      android:windowSoftInputMode="adjustResize"
    >
      <meta-data
        android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme"
      />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".tiles.ScreenshotHelperActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:excludeFromRecents="true"
      android:exported="false"
      android:noHistory="true"
      android:taskAffinity=""
      android:launchMode="singleInstance"
    />

    <!-- Device Admin Receiver for Lock Screen -->
    <receiver
      android:name=".DeviceAdminReceiver"
      android:exported="true"
      android:permission="android.permission.BIND_DEVICE_ADMIN"
    >
      <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin" />
      <intent-filter>
        <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
      </intent-filter>
    </receiver>

    <!-- Lock Screen Tile -->
    <service
      android:name=".tiles.LockTileService"
      android:icon="@mipmap/launcher_icon"
      android:label="Lock Screen"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
      android:exported="true"
    >
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!-- Volume Control Tile -->
    <service
      android:name=".tiles.VolumeControlTileService"
      android:icon="@mipmap/launcher_icon"
      android:label="Volume Control"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
      android:exported="true"
    >
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!-- Screenshot Tile -->
    <service
      android:name=".tiles.ScreenshotTileService"
      android:enabled="true"
      android:exported="true"
      android:icon="@mipmap/launcher_icon"
      android:label="Screenshot"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
    >
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!-- Accessibility Service for Screenshot -->
    <service
      android:name=".CustomAccessibilityService"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
      android:exported="true"
    >
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/accessibility_service_config"
      />
    </service>

    <meta-data android:name="flutterEmbedding" android:value="2" />
  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.PROCESS_TEXT" />
      <data android:mimeType="text/plain" />
    </intent>
  </queries>
</manifest>
